@import url('https://fonts.googleapis.com/css?family=Akronim');

html {
  background-color: antiquewhite;
}
.App {
  text-align: center;
}

h1 {
  font-family: 'Akronim', cursive;
  font-size: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box {
  border: 1px solid black;
  height: 70px;
  width: 70px;
  padding: 20px;
  margin: 10px;
}

.box-background {
  background-image: url(./assets/giphy.gif);
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
